// 变量
$c:#195;
$w:100px;

// 混入语法
/*1-没有传递参数*/
.baseBorder{
    border: 1px solid #ccc;
}
/*2-需要传递参数*/
@mixin base($w,$h){
    width:$w;
    height: $h;
}


div{
    color: $c;
    @include base(800px,100px);
    @extend .baseBorder;
}
span{
    background-color: $c;
}